<form class="ui form" method="POST" action="/createTweet">
  <div class="field">
    <label>Content</label>
    <textarea rows="4" name="tweetContent"></textarea>
  </div>
  <button class="ui blue submit button">Submit</button>
</form>