<section class="ui raised segment">
  <div class="ui grid">
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui  divider"></div>
          <div class="ui feed">
            {{#each tweets}} {{> tweet}}
            <div class="ui  divider"></div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>