<section class="ui raised segment">
  <div class="ui grid">
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            {{#each tweets}} {{> tweet}} {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>