<section class="ui raised segment">
  <div class="ui grid">
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve wide centered column">
        <div class="ui raised segment">
          <div class="ui feed">
            <div class="ui content">
              <p> This is a tweet</p>
            </div>
            <div class="ui content">
              <p> This is another Tweet</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>