<div class="ui centered card">
  <div class="image">
    <img src="/images/portrait_placeholder.png" />
  </div>
  <div class="content">
    <p class="header">{{user.firstName}} {{user.lastName}}</p>
    <div class=meta>
      <a>{{user.email}}</a>
    </div>
  </div>
  <div class="ui bottom attached button">
    <i class="add icon"></i>
    Follow
  </div>
</div>