{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/seriouse_cat.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Just like Twitter, but Litter</header>
      <p> Litter is an adaption of the urban word
        <a href="https://www.urbandictionary.com/define.php?term=lit">lit</a>.
        <br/> There is absolutly no connection to the meaning of litter as something like trash.
      </p>

      </p>
    </article>
  </div>
</section>