{{> mainmenu _id="profile"}}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="six wide column">
      {{> userinfo }}
    </div>
    <div class="ten wide right floated column">
      {{#if ownProfile}} {{> tweetform }} {{> formerror}} {{/if}} {{> tweetfeed }}
    </div>
  </div>
</section>